* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #cfe8ff, #eaf4ff);
}

.container{
    background: white;
    width: 100%;
    max-width: 420px;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}

h1{
    margin-bottom: 25px;
}

.professor{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px dashed #ccc;
}

.professor h3{
    color: crimson;
    margin-bottom: 15px;
}

.botao-lista{
    display: block;
    margin-top: 12px;
    padding: 12px;
    background: #444;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s;
}

.botao-lista:hover{
    background: #222;
}


.principal{
    background: #0059ff;
    font-size: 17px;
}

.principal:hover{
    background: #003fcc;
}
