@import url('header.css');

/* macchiatto */
:root{
--lightred: #f5bde6;
--red: #ed8796;
--lightpurple: #babbf1;
--purple: #c6a0f6;
--green: #a6d189;
--lightblue: #7dc4e4;
--blue: #8aadf4;
--text: #cad3f5;
--subtext0: #6e738d;
--subtext1: #8087a2;
--overlay0: #737994;
--overlay1: #838ba7;
--overlay2: #939ab7;
--surface0: #363a4f;
--surface1: #494d64;
--surface2: #5b6078;
--base: #24273a;
--mantle: #1e2030;
--crust: #181926;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 700;
    color: var(--text);
}

html {
    color-scheme: dark;
}

*, :after, :before {
    font-family: 'MyFont', Arial, sans-serif;
}

body {
    zoom: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: hsl(0deg 0% 95%);
    margin: 0;
    padding: 0;
    background-image: url('/Images/pastel4.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(9, 15, 63);
    
}

.centro {
    padding: 40px;
    width: 50%;
    height: 50%;

    align-items: center;
    text-align: justify;
    border-radius: 12px;

    font-size: 20px;
    position: relative;
    margin-top: 400px;
    left: 25%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    background-color: var(--base);
}

.centro h1, .centro h2{
    margin-bottom: 15px;
    font-size: 12px;
    display: flex;
}
.centro p{
    line-height: 1.6;
    font-size: 8px;
}




.botao {
    appearance: none;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(251, 254, 255);
    border: 2px solid rgba(255,255,255,0.85);
}

.botao:hover {
    background: linear-gradient(0deg,#c00030,#f85fd2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.botao:focus {
    outline: none;
}
.botao:focus-visible {
    outline: 3px solid rgba(64,150,255,0.32);
    outline-offset: 4px;
    box-shadow: 0 6px 20px rgba(64,150,255,0.08);
}

select{
    appearance: none;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(251, 254, 255);
    border: 2px solid rgba(255,255,255,0.85);
}

select option {
    background-color: rgba(9, 15, 63, 9);
    color: #fff;
}

select:focus {
    outline: none;
}
select:focus-visible {
    outline: 3px solid rgba(64,150,255,0.32);
    outline-offset: 4px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: rgb(251, 254, 255);
}