/* macchiatto */
:root{
--lightred: #f5bde6;
--red: #ed8796;
--lightpurple: #babbf1;
--purple: #c6a0f6;
--green: #a6d189;
--lightblue: #7dc4e4;
--blue: #8aadf4;
--text: #cad3f5;
--subtext0: #6e738d;
--subtext1: #8087a2;
--overlay0: #737994;
--overlay1: #838ba7;
--overlay2: #939ab7;
--surface0: #363a4f;
--surface1: #494d64;
--surface2: #5b6078;
--base: #24273a;
--mantle: #1e2030;
--crust: #181926;
}

html {
    color-scheme: dark;
    background-color: var(--base);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container {
    display: ruby;
    background-color: var(--surface0);
    height: 120px;
    width: 240px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header {
    background-color: var(--text);
    zoom: none;
    width: 100%;
    padding: 2rem;
    z-index: 2;
    position: sticky;
    top: 0;

}

/* From Uiverse.io by Gaurav-WebDev */ 
.botao {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--purple);
  overflow: hidden;
  border-radius: 30px;
  color: var(--crust);
  transition: all 0.5s ease-in-out;
}

.botao text {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--crust);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.botao:hover {
  /* box-shadow: 1px 1px 200px var(--text); */
  color: var(--text);
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

