@font-face{
    font-family: 'MyFont';
    src: url('/Fonts/DT-8Bit-Ch3.otf.woff2') format('opentype');
}

*, :after, :before {
    font-family: 'MyFont', Arial, sans-serif;
}

body {
    zoom: 1.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    background: hsl(0deg 0% 95%);
    margin: 0;
    padding: 0;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDlkdG5xd2N4ZGk2NWJoZGlyODBiZnQza2dpOXM1d3o4Y2QwNmk3dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FlodpfQUBSp20/giphy.gif');
    background-repeat: repeat;
    animation: fundo 30s linear infinite;

    background-repeat: repeat;
    background-position: center;
    background-color: rgb(9, 15, 63);
}

@keyframes fundo {
    0% {background-position: 0 0;}
    100% {background-position: -300px 300px;}
}

.botao {
    appearance: none;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(251, 254, 255);
    border: 2px solid rgba(255,255,255,0.85);
}

.botao:hover {
    background: linear-gradient(0deg,#c00030,#f85fd2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.botao:focus {
    outline: none;
}
.botao:focus-visible {
    outline: 3px solid rgba(64,150,255,0.32);
    outline-offset: 4px;
    box-shadow: 0 6px 20px rgba(64,150,255,0.08);
}

select{
    appearance: none;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(251, 254, 255);
    border: 2px solid rgba(255,255,255,0.85);
}

select option {
    background-color: rgba(9, 15, 63, 9);
    color: #fff;
}

select:focus {
    outline: none;
}
select:focus-visible {
    outline: 3px solid rgba(64,150,255,0.32);
    outline-offset: 4px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: rgb(251, 254, 255);
}

header {
    zoom: none;
    width: 100%;
    padding: 2rem;
    z-index: 2;
    --thickness: 4px;
    position: sticky;
    top: 0;
    background: hsl(0deg 0% 100% / 0.95);
  }
    @supports
        (backdrop-filter: blur(16px)) or
        (-webkit-backdrop-filter: blur(16px))
    {
    header {
      background: hsla(0, 0%, 100%, 0.068);
    }

    .backdrop {
        position: absolute;
        inset: 0;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background: linear-gradient(
            to bottom,
            hsla(0, 0%, 95%, 0.192),
            transparent 50%
        );
        pointer-events: none;
    }

    .backdrop-edge {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--thickness);
        background: hsla(0, 0%, 79%, 0.1);
        -webkit-backdrop-filter: blur(12px) brightness(0.96);
        backdrop-filter: blur(12px) brightness(0.96);
        transform: translateY(100%);
        pointer-events: none;
    }
  }

    @supports
        (mask-image: none) or
        (-webkit-mask-image: none)
    {
    .backdrop {
        height: 200%;
        -webkit-mask-image: linear-gradient(
            to bottom,
            black 0% 50%,
            transparent 50% 100%
        );
        mask-image: linear-gradient(
            to bottom,
            black 0% 50%,
            transparent 50% 100%
        );
    }
    .backdrop-edge {
        height: 100%;
        inset: 0;
        -webkit-mask-image: linear-gradient(
            to bottom,
            black 0,
            black var(--thickness),
            transparent var(--thickness)
        );
        mask-image: linear-gradient(
            to bottom,
            black 0,
            black var(--thickness),
            transparent var(--thickness)
        );
    }
  }